:root {
  --color-text-basic: #000000;
  --color-bg-dark: #1a1d25;

  --color-text-middle: #4e5d7c;
  --color-text-light: #4e5d7c80;
  --color-text-extra-light: #ffffff;
  --color-shadow: #4e5d7c29;

  --color-primary: #357efe;
  --color-secondary-1: #1abc9c;
  /* --color-secondary-2: #357efe; */
  --color-secondary-2: #ffc736;

  --min-width: 375px;
  --max-width: 1392px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Шрифты */

.title_big-light {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #ffffff;
}

.title_big-dark {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #000000;
}

/* 888888888888888888888 */

.title_middle-light {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
}

.title_middle-dark {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #000000;
}

/* 88888888888888888888888888888888888 */

.title_small-dark {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  color: #000000;
}

.title_small-dark-bolder {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  color: #000000;
}

/* 8888888888888888888888888888888 */

.text_big-dark {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #000000;
}

.text_big-light {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #ffffff;
}

/* 888888888888888888888888888 */

.text_middle-light {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: #ffffffcc;
  opacity: 80%;
}

.text_middle-dark {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: #4e5d7c80;
}

/* 8888888888888888888888888888888 */

.text_small-light-yellow-mark {
  font-size: 17px;
  font-weight: 700;
  line-height: 20.4px;
  color: #ffffff;
}

.text_button {
  font-size: 17px;
  font-weight: 800;
  line-height: 23.8px;
  color: #357efe;
}

/* 99999999999999999999 */

.text_small-light {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  color: #ffffff;
}

.text_small-light-footer {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  color: #ffffffb2;
}

.text_small-light-faded {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: #ffffffcc;
}

.text_small-dark-faded {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: var(--color-text-light);
}

.text_xsmall {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--color-text-extra-light);
}
