/* *********   Возможности   ********** */

.capabilities {
  max-width: var(--max-width);
  margin: 80px auto;
  /* border: 1px solid slateblue; */
}

.capabilities__wrapper-1 {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 65px;
}

.capability {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 65px;
}

.capability__desc,
.capability__img {
  width: 50%;
}

.capability__desc_h2 {
  margin: 0 0 24px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.capability__desc_p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: var(--color-text-middle);
  opacity: 0.5;
}

.capability__desc_1,
.capability__desc_3 {
  padding-left: 118px;
}

.capability__desc_2,
.capability__desc_4 {
  padding-right: 118px;
}

.capability__img img {
  width: 100%;
}

.img__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.capability__img_main {
  width: 70%;
}

.capability__img_extra {
  width: 70%;
  position: absolute;
  left: 25%;
  top: 23%;
}

.capabilities__wrapper-1 .section_hr {
  height: 1px;
  width: 100%;
}

@media (max-width: 1440px) {
  /* .capabilities {
    margin: 63px 23px 0 24px;
  } */
  .capabilities {
    margin: 0 23px 0 24px;
  }
}

@media (max-width: 1120px) {
  .capabilities__wrapper-1 {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .capability {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 32px;
  }

  .capability__desc {
    width: 100%;
  }

  .capability__img {
    width: 100%;
  }

  .capability__desc_1,
  .capability__desc_2,
  .capability__desc_3,
  .capability__desc_4 {
    padding: 0;
  }

  .capability__desc_h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
  }

  .capabilities__wrapper-1 .section_hr {
    grid-column: 1;
  }
}

/* ***Возможности: второй блок*** */
.capabilities__bg_colored {
  width: 100%;
  border: 1px solid blue;
  background: var(--color-primary);
  color: var(--color-text-extra-light);
}

.capabilities__wrapper-2 {
  max-width: var(--max-width);
  margin: 120px auto;
  border: 1px solid red;
  text-align: center;
}

.wrapper-2__h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
}

.wrapper-2__p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  opacity: 0.8;
}

.wrapper-2__button {
  margin-bottom: 64px;
}

/* слайдер с картинками  */

.pic-slider__wrapper {
  margin-bottom: 64px;
  max-width: 1156px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid burlywood; */
  text-align: center;
}

.wrapper-2__img_1 {
  max-width: 598px;
  max-height: 640px;
  /* position: absolute; */
  /* border: 1px solid saddlebrown; */
}

.wrapper-2__img_2 img {
  transform: scale(0.95);
}

.wrapper-2__img_2 {
  max-width: 598px;
  max-height: 640px;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  border: 1px solid pink;
}
.wrapper-2__img_2 img {
  transform: scale(40%);
}

.wrapper-2__comparison {
  max-width: 920px;
  margin: 0 auto;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  text-align: left;
}

.product_h3 {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.product_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.product_li {
  margin-bottom: 24px;
}

.li_exclamation::before {
  content: url(../images/exclamation-circle.svg);
  position: relative;
  top: 5px;
  right: 2.5px;
}

.li_check::before {
  content: url(../images/check-circle.svg);
  position: relative;
  top: 5px;
  right: 2.5px;
}

@media (max-width: 1440px) {
  .capabilities__bg_colored {
    padding: 0 23px 0 24px;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 928px) {
  .wrapper-2__h2 {
    font-size: 36px;
    line-height: 43.2px;
  }

  .capabilities__wrapper-2 {
    margin: 64px 0;
  }
}

@media (max-width: 375px) {
  .wrapper-2__button {
    margin-bottom: 48px;
  }
}

/* ***Возможности: третий блок*** */

.capabilities__wrapper-3 {
  margin: 120px auto;
  border: 1px solid yellow;
}

.pros__wrapper {
  margin: 0 auto 80px;
  max-width: 1342px;
  /* border: 1px solid brown; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(327px, 395px));
  justify-content: center;
  gap: 78px;
}

.pros__img {
  height: 80px;
  margin-bottom: 24px;
}

.pros__img img {
  height: 100%;
}

.pros__h3 {
  margin: 0 0 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
}

.pros_p {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: var(--color-text-middle);
  opacity: 0.5;
}

.mobile__wrapper {
  /* border: 1px solid red; */
  text-align: center;
}

.mobile__h3 {
  margin: 80px 0 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
}

.mobile__p {
  margin: 0 0 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: var(--color-text-middle);
  opacity: 0.5;
}

.mobile__img {
  margin: 0 auto;
  max-width: 1128px;
  min-width: 677.7px;
  border: 1px solid red;
}

.mobile__img img {
  width: 100%;
}

@media (max-width: 1440px) {
  .capabilities__wrapper-3 {
    padding: 0 23px 0 24px;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 928px) {
  /* .wrapper-2__h2 {
    font-size: 36px;
    line-height: 43.2px;
  } */

  .capabilities__wrapper-3 {
    margin: 64px 0;
  }

  .mobile__h3 {
    margin: 48px 0 24px;
  }

  .mobile__p {
    margin: 0 0 32px;
  }
}

@media (max-width: 375px) {
  /* .wrapper-2__button {
    margin-bottom: 48px;
  } */
}

/* Поддержка */

.support__wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
  min-width: 375px;
  border-radius: 16px;
  background: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 74px;
}

.support__img {
  max-width: 623px;
  min-width: 327px;
}

.support__img img {
  width: 100%;
  vertical-align: bottom;
}

.support__info-wrapper {
  margin: 64px 0;
  max-width: 623px;
  color: var(--color-text-extra-light);
}

.support__h3 {
  margin: 0 0 24px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.support__p {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  opacity: 0.8;
}

.contacts__wrapper {
  margin: 40px 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 32px;
}

.contact__img {
  /* width: 32px; */
  height: 32px;
}

@media (max-width: 1440px) {
}

@media (max-width: 1392px) {
  .support__wrapper {
    border-radius: 0px;
    padding: 0 23px 0 24px;
  }

  .support__img {
    align-self: flex-end;
  }
}

@media (max-width: 1265px) {
}

@media (max-width: 1120px) {
  .support__wrapper {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .support__img {
    align-self: center;
  }

  .support__info-wrapper {
    margin-bottom: 0;
  }

  .contacts__wrapper {
    margin-bottom: 32px;
  }
}

@media (max-width: 928px) {
}

@media (max-width: 668px) {
  /* .support__wrapper {
    padding: 0 23px 0 24px;
  } */
}

@media (max-width: 375px) {
}

/* Тарифы */

.plans {
  max-width: 1156px;
  margin: 80px auto;
}

.plans-wrapper {
  min-height: 507px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(327px, 369px));
  justify-content: center;
}

/* Отзывы */

.feedback__h2 {
  margin: 0 0 40px;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: center;
}

.feedback__wrapper {
  /* border: 1px solid red; */
  max-width: 1156px;
  height: 438px;
  margin: 0 auto;
  background: var(--color-primary);
  box-shadow: 0px 0px 32px 0px #4e5d7c29;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-extra-light);
}

.feedback-data__wrapper {
  min-width: 578px;
}

.feedback-data {
  margin: 0 auto;
  max-width: 320px;
}

.feedback-data__h2 {
  margin: 0 0 34px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.feedback-data__name {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.8px;
}

.feedback-data__role {
  margin: 0 0 48px 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
}

.feedback__carousel {
  height: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: none;
}

.carousel__button {
  padding: 0;
  background: none;
  border: none;
}

.feedback__prev-next-buttons {
  /* max-width: 1108px; */
  max-width: 1156px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  bottom: 270px;
}

.feedback__button {
  padding: 0;
  width: 104px;
  height: 104px;
  background: none;
  border: none;
  cursor: pointer;
}

.feedback__button img {
  opacity: 0.7;
}

.feedback__button img:hover {
  opacity: 1;
}

.feedback__button_prev img {
  transform: rotate(180deg);
}

.feedback__img {
  position: relative;
  overflow: hidden;
  max-width: 50%;
  max-height: 100%;
  border-radius: 0 8px 8px 0;
  /* clip-path: inset(22px 32px 31px 0px round 0 8px 8px 0); */
}

.feedback__img img {
  position: relative;
  transform: scale(1.1);
  width: 100%;
}

@media (max-width: 1440px) {
}

@media (max-width: 1392px) {
  /* .feedback__wrapper {
    margin: 0 23px 0 24px;
  } */
}

@media (max-width: 1203px) {
  .feedback__wrapper {
    margin: 0 23px 0 24px;
  }
}

@media (max-width: 1193px) {
}

@media (max-width: 1154px) {
  .feedback__h2 {
    padding: 0 23px 0 24px;
  }

  .feedback__wrapper {
    flex-direction: column-reverse;
    min-width: 328px;
    width: 50%;
    margin: 0 auto;
    height: fit-content;
  }

  .feedback-data__wrapper {
    min-width: 328px;
    max-width: 530px;
    width: 100%;
  }

  .feedback-data {
    margin: 0 23px 0 24px;
    max-width: 100%;
  }

  .feedback-data__h2 {
    margin-top: 48px;
    width: 100%;
  }

  .feedback__prev-next-buttons {
    display: none;
  }

  .feedback__carousel {
    display: flex;
    margin-bottom: 48px;
  }

  .feedback__img {
    border-radius: 8px;
    max-width: 100%;
    min-width: 328px;
  }
}

@media (max-width: 668px) {
}

@media (max-width: 375px) {
  .feedback__h2 {
    text-align: left;
  }
}
