.dark {
  background-color: #357efe;
}
.light {
  background-color: white;
}

/* ******* */
.title-big-light {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #ffffff;
}

.title-big-dark {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #000000;
}

/* 888888888888888888888 */

.title-middle-light {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
}

.title-middle-dark {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #000000;
}

/* 88888888888888888888888888888888888 */

.title-small-dark {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  color: #000000;
}

.title-small-dark-bolder {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  color: #000000;
}

/* 8888888888888888888888888888888 */

.text-big-dark {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #000000;
}

.text-big-light {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #ffffff;
}

/* 888888888888888888888888888 */

.text-middle-light {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: #ffffffcc;
  opacity: 80%;
}

.text-middle-dark {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: #4e5d7c80;
}

/* 8888888888888888888888888888888 */

.text-small-light-yellow-mark {
  font-size: 17px;
  font-weight: 700;
  line-height: 20.4px;
  color: #ffffff;
}

.text-button {
  font-size: 17px;
  font-weight: 800;
  line-height: 23.8px;
  color: #357efe;
}

/* 99999999999999999999 */

.text-small-light {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  color: #ffffff;
}

.text-small-light-footer {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  color: #ffffffb2;
}

.text-small-light-shadow {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: #ffffffcc;
}

.text-small-dark-shadow {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: #4e5d7c80;
}
